h1 {
    text-align: center;
    color: blue;
}

body {
    background-position: center center;
}

.extendfull, .extendleft
{
	padding-left: 3000px;
	margin-left: -3000px;
}

.extendfull, .extendright
{
	padding-right: 3000px;
	margin-right: -3000px;
}

.blueback {
    align: center;
    color: white;
    background-color: blue;
    margins: 0 0;
    width: auto;
}

.redback {
    align: center;
    color: white;
    background-color: red;
    margins: 0 0;
    width: auto;
}